<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<title>HopStop</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" href="images/marker.png">
	<link rel="stylesheet" href="css/hopstop-assets.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	{{{body}}}
</body>

</html>